:root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
}
.primary-text {
  color: var(--main-text-color);
}
#example_info,#example_length,#example_filter{
  color: white;
}
.pagination li{
  margin: 0px 10px;
}
.pagination li a{
  text-decoration: none;
}
.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  /*background-color: white;*/
  background-color: #1e1e2f;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}
.bar-chart,.line{
  display: none;
}
.bar-chart.show{
  display: block;
}
.chart{
  width: 100%;
  height: auto;
}
.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
  /*border-bottom: 1px solid black;*/
}
.bg-dark-color{
  background-color: #131010;
}
#display_data{
  list-style-type: none;
}
.personal{
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.bg-active{
  visibility: visible;
  opacity: 1;
}
.information{
  display: block;
  
}
.information.hide{
  display: none;
}
.report_incident{
  display: none;
}
.report_incident.show{
  display: block;
}
.box-scroll{
  padding: 6px 10px;
  width: 100%;
  background-color: #fff;
  height: 300px;
  overflow: scroll;
  /*overflow-x: hidden;*/
}
.brgy_font{
  font-family: 'Open Sans', sans-serif;
}
#close_modal{
  position: absolute;
  top: -60px;
  right: 10px;
  cursor: pointer;
}
#caret,#caret-report{
  transform: rotate(0deg);
}
#caret.rotate,#caret-report.rotate{
  transform: rotate(180deg);
}
.list li{
  margin: 15px 0px;
}
.list a{
  text-decoration: none;
}
.dropdown,.dropdown-report,.walk{
  display: none;
}
.dropdown.show,.dropdown-report.show{
  display: block;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}