.dropdown{
	display: none;
}

.dropdown.view{
	display: block;
}
#caret{
  transform: rotate(0deg);
}
#caret.rotate{
  transform: rotate(180deg);
}
#loading{
	display: none;
}
.list a{
	text-decoration: none;
}